<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Alan Liu</title>
    <meta name="description" content="">
    <meta name="author" content="Alan Liu">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="static/css/layout.css">
    <link rel="stylesheet" href="static/css/media-queries.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/prettyPhoto.css">

    <!-- Script
    ================================================== -->
    <script src="static/js/modernizr.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href="static/favicon.ico">

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
    </style>
</head>

<body>
<!-- Following Menu -->
<div class="ui top large fixed  text menu">
    <div class="ui container">
        <a href="/" class="item">Work</a>
        <a href="/about" class="active item">Bio</a>
        <a href="https://medium.com/@alanliu96" class="item">Musings</a>
        <!-- <a href ="/about" class="item">About</a> -->
    </div>
</div>

<div class="ui two columnn grid container" style="height: 95%">
    <div class="ui column basic middle aligned left floated segment hello">
        <div class="ui header" style="font-family: Montserrat;"> Hello! I'm a product focused software engineer,
            integrating on-device AI on Facebook's Portal. My dream is to make cutting-edge technologies understandable
            and accessible by everyday people. If we apply them in the right way, I believe we can democratize
            opportunities across ingrained social-economic barriers.
        </div>
    </div>
    <div class="ui middle aligned right floated column">
        <img class="ui gigantic image"
             src="/static/about_pic.JPG">
    </div>
</div>

<div class="ui divider"></div>

<div class="ui basic center aligned segment">
    <div class="ui header" style="font-family: Montserrat;"> Interested? Let's chat.
    </div>
    <a href="mailto:hello@alanliu.info"><i class=" mail icon"></i></a>
    <a href="http://linkedin.com/in/alanliu96?"><i class="linkedin icon"></i></a>
    <a href="https://github.com/AlanLiu96"><i class="github icon"></i></a>
</div>

</body>

<!-- Google Analytics -->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68821504-1', 'auto');
    ga('send', 'pageview');

</script>

</html>