<h1>The "Birthday" Challenge</h1><br>

<p>Hello Ian. </p>

<p> You have plans tonight, but before then you should probably finish this challenge. There's a prize waiting for you at the end, and you probably want to know where you're going later. ;) Good luck! </p><br>

<p><b>Your Deadline is 10:00 PM <br> Don't be Late</b></p>

<p> Each puzzle will have a number at the end. When you finish all the puzzles go to the url "alanliu.me/[numbers]" and you will get to the finish!</p><br>

<ol>
	<li>I<b>A</b>N</li>
	<li><a href="/static/music2.mp3">This song</a>, one of your most played Osu songs, is actually referencing this edition of a classic game. </li>
	<li>According to MAL, of your completed animes, how much time in hours have you spent watching anime? (take this number mod 10 to be the answer and assume each episode is 20 mins long)</li>
	<li>hello Dad! + Take a Sc credit!</li>
	<li>Friends are awesome. I don't think you can solve this one by yourself. Try messaging a friend, perhaps one from Lynbrook? </li>
	<li><a href="/static/music.mp3">Listen</a> and Find me!</li>
	<li>My right arm is super strong. I just slam it every time.</li>
	<li>Sasha pup is so pup-ular, she has so many photos on facebook! (mod 10 for answer)</li>
	<li>You'd expect to find many animals here, but in fact there are none. Perhaps you'd come here on Wednesday nights instead of heading to woads.*</li>
	<li>I like apple cider. Do you?*</li> 
<p>*(Hint: You'll have to leave TD for this one!)</p>
</ol>