
<center><h2>The Bigger Picture</h2></center>


<style type="text/css">
.center{
    width:400px;
    margin:0 auto;
    text-align:left;
}</style>
<div class="center">
<ul >
  <li>Division of Labor</li>
  <li>Role of the Government</li>
  <li>Social Connections in Market</li>
  <li>What Makes up a Global Market in a Global City?</li>
  <li>Conclusion: What's next?</li>
</ul></div>

<center><a href="/proj1">Origins</a> → <a href="/proj2">Guilds</a> → <a href="/proj3">Meiji Restoration</a> → <a href="/proj4">Tokyo Earthquake</a> → <a href="/proj5">WWII</a> → <a href="/proj6">Modern Day</a> </center>