<!DOCTYPE html>
{% include "header.html" %}

<body>
<!-- Following Menu -->
<div class="ui top fixed large text menu" style="background: white">
    <div class="ui white container">
        <a href="/" class="item">Hello</a>
        <a href="/work" class="active item">Work</a>
        <a href="/about" class="item">About</a>
        <a href="https://medium.com/@alanliu96" class="item">Musings</a>
    </div>
</div>

<div class="ui two column grid container">
    <div class="row">
        <div class="ui column basic middle aligned left floated segment" style="font-family: Montserrat;">
            <div class="ui header" style="font-family: Montserrat;">Facebook Portal Smart Camera</div>
            Improves upon a typical video call by using scene information from on-device computer vision to keep
            people
            in frame for a hands-free video calling experience.
            <br><br>
            See more on <a href="https://ai.facebook.com/blog/under-the-hood-portals-smart-camera/">Facebook's AI
            blog.</a>
        </div>
        <div class="ui middle aligned right floated column">
            <img class="ui image"
                 src="/static/portal.gif">
        </div>
    </div>
    <div class="row">
        <div class="ui column basic middle aligned left floated segment" style="font-family: Montserrat;">
            <div class="ui header" style="font-family: Montserrat; margin-bottom: 1rem;">Bone Conduction Hearing Aid
            </div>
            As someone that was born half deaf, I’ve always been interested in making more accessible hearing aids. As
            part of my senior project, I endeavored to do that by combining recent advances in noise filtering with bone
            conduction to create higher fidelity hearing aids.
        </div>
        <div class="ui middle aligned right floated column">
            <img class="ui image"
                 src="/static/hearing.jpg">
        </div>
    </div>
    <div class="row">
        <div class="ui column basic middle aligned left floated segment" style="font-family: Montserrat;">
            <div class="ui header" style="font-family: Montserrat; margin-bottom: 1rem;">Hackathon Veteran</div>
            I've been a hacker, a mentor, an organizer and represented a sponsor at over 20 hackathons.
            Those experiences have honed my product sense and insistence to drive user value.
        </div>
        <div class="ui middle aligned right floated column">
            <img class="ui image"
                 src="/static/yhack.jpg">
        </div>
    </div>
</div>
<br>
{#<div class="ui divider"></div>#}
<div class="ui basic center aligned segment">
    <div class="ui header" style="font-family: Montserrat;"> Interested? Here's my <a
            href="/static/Alan%20Liu%20-%20Resume.pdf">resume</a>. Let's
        chat.
    </div>
    <a href="mailto:hello@alanliu.dev"><i class="black mail icon"></i></a>
    <a href="http://linkedin.com/in/alanliu96?"><i class="black linkedin icon"></i></a>
    <a href="https://github.com/AlanLiu96"><i class="black github icon"></i></a>
</div>

</body>
<!-- Google Analytics -->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68821504-1', 'auto');
    ga('send', 'pageview');

</script>

</html>